USE [master]
GO
/****** Object:  Database [WinterFashion_SD70]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE DATABASE [WinterFashion_SD70]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WinterFashion_SD70', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WinterFashion_SD70.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WinterFashion_SD70_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WinterFashion_SD70_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WinterFashion_SD70].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WinterFashion_SD70]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[BannerID] [nvarchar](36) NOT NULL,
	[TieuDe] [nvarchar](160) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[HinhAnhUrl] [nvarchar](500) NOT NULL,
	[LienKetUrl] [nvarchar](300) NULL,
	[ThuTu] [int] NOT NULL,
	[KichHoat] [bit] NOT NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chiTietDoiTras]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiTietDoiTras](
	[ChiTietDoiTraID] [nvarchar](36) NOT NULL,
	[PhieuDoiTraID] [nvarchar](36) NOT NULL,
	[ChiTietSanPhamID] [nvarchar](36) NOT NULL,
	[SoLuongTra] [int] NOT NULL,
	[GiaTriHoanLai] [decimal](18, 0) NOT NULL,
	[LyDo] [int] NOT NULL,
 CONSTRAINT [PK_chiTietDoiTras] PRIMARY KEY CLUSTERED 
(
	[ChiTietDoiTraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHangs]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHangs](
	[ChiTietGioHangID] [nvarchar](36) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
	[GioHangID] [nvarchar](36) NOT NULL,
	[ChiTietSanPhamID] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_ChiTietGioHangs] PRIMARY KEY CLUSTERED 
(
	[ChiTietGioHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPhams]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPhams](
	[ChiTietSanPhamID] [nvarchar](36) NOT NULL,
	[SoLuongTonKho] [int] NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[GiaNiemYet] [decimal](18, 0) NOT NULL,
	[KichCoID] [nvarchar](20) NOT NULL,
	[MauID] [nvarchar](20) NOT NULL,
	[SanPhamID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ChiTietSanPhams] PRIMARY KEY CLUSTERED 
(
	[ChiTietSanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThanhToans]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThanhToans](
	[ChiTietThanhToanID] [nvarchar](36) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
	[MaThamChieu] [nvarchar](100) NOT NULL,
	[ThoiGianThanhToan] [datetime2](7) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[HoaDonID] [nvarchar](36) NOT NULL,
	[PhuongThucThanhToanID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ChiTietThanhToans] PRIMARY KEY CLUSTERED 
(
	[ChiTietThanhToanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucs]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucs](
	[DanhMucID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DanhMucs] PRIMARY KEY CLUSTERED 
(
	[DanhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChis]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChis](
	[DiaChiID] [nvarchar](36) NOT NULL,
	[TenNguoiNhan] [nvarchar](100) NOT NULL,
	[SoDienThoaiNhan] [nvarchar](15) NOT NULL,
	[TinhThanh] [nvarchar](100) NOT NULL,
	[QuanHuyen] [nvarchar](100) NOT NULL,
	[PhuongXa] [nvarchar](100) NOT NULL,
	[LaMacDinh] [bit] NOT NULL,
	[KhachHangID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DiaChis] PRIMARY KEY CLUSTERED 
(
	[DiaChiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangs]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangs](
	[GioHangID] [nvarchar](36) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TaiKhoanID] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_GioHangs] PRIMARY KEY CLUSTERED 
(
	[GioHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhSanPhams]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhSanPhams](
	[HinhAnhID] [nvarchar](36) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[IsMain] [bit] NOT NULL,
	[SanPhamID] [nvarchar](20) NOT NULL,
	[MauID] [nvarchar](20) NULL,
 CONSTRAINT [PK_HinhAnhSanPhams] PRIMARY KEY CLUSTERED 
(
	[HinhAnhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiets]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiets](
	[HoaDonChiTietID] [nvarchar](36) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[MucVAT] [decimal](18, 0) NOT NULL,
	[TienVAT] [decimal](18, 0) NOT NULL,
	[HoaDonID] [nvarchar](36) NOT NULL,
	[ChiTietSanPhamID] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_HoaDonChiTiets] PRIMARY KEY CLUSTERED 
(
	[HoaDonChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[HoaDonID] [nvarchar](36) NOT NULL,
	[TongTienVAT] [decimal](18, 0) NOT NULL,
	[TongTienGiamGia] [decimal](18, 0) NOT NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL,
	[LoaiGiaoDich] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NOT NULL,
	[KhachHangID] [nvarchar](20) NOT NULL,
	[NhanVienID] [nvarchar](20) NOT NULL,
	[DiaChiID] [nvarchar](36) NOT NULL,
	[KhuyenMaiID] [nvarchar](20) NULL,
 CONSTRAINT [PK_HoaDons] PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[KhachHangID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[DiemTichLuy] [int] NOT NULL,
	[TaiKhoanID] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMais]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMais](
	[KhuyenMaiID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[GiaTriToiThieuApDung] [decimal](18, 0) NOT NULL,
	[NgayApDung] [datetime2](7) NOT NULL,
	[NgayKetThuc] [datetime2](7) NOT NULL,
	[MoTa] [nvarchar](500) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[GiaTriGiam] [decimal](18, 0) NOT NULL,
	[GiamToiDa] [decimal](18, 0) NOT NULL,
	[LoaiGiamGia] [int] NOT NULL,
	[MaCode] [nvarchar](50) NULL,
	[SoLuongDaDung] [int] NOT NULL,
	[SoLuongToiDa] [int] NOT NULL,
 CONSTRAINT [PK_KhuyenMais] PRIMARY KEY CLUSTERED 
(
	[KhuyenMaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMaiSanPhams]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMaiSanPhams](
	[KhuyenMaiID] [nvarchar](20) NOT NULL,
	[SanPhamID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_KhuyenMaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[KhuyenMaiID] ASC,
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichCos]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichCos](
	[KichCoID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_KichCos] PRIMARY KEY CLUSTERED 
(
	[KichCoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maus]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maus](
	[MauID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Maus] PRIMARY KEY CLUSTERED 
(
	[MauID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[NhanVienID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[NgayNhanViec] [datetime2](7) NOT NULL,
	[TaiKhoanID] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuDoiTras]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuDoiTras](
	[PhieuDoiTraID] [nvarchar](36) NOT NULL,
	[HoaDonID] [nvarchar](36) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[TongTienHoan] [decimal](18, 0) NOT NULL,
	[GhiChuAdmin] [nvarchar](500) NULL,
 CONSTRAINT [PK_phieuDoiTras] PRIMARY KEY CLUSTERED 
(
	[PhieuDoiTraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToans]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToans](
	[PhuongThucThanhToanID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[KieuThanhToan] [int] NOT NULL,
	[HinhURL] [nvarchar](500) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_PhuongThucThanhToans] PRIMARY KEY CLUSTERED 
(
	[PhuongThucThanhToanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[SanPhamID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[MucVAT] [int] NOT NULL,
	[ChatLieu] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[ThuongHieuID] [nvarchar](20) NOT NULL,
	[DanhMucID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[TaiKhoanID] [nvarchar](36) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[VaiTroID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieus]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieus](
	[ThuongHieuID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[LogoURL] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_ThuongHieus] PRIMARY KEY CLUSTERED 
(
	[ThuongHieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTros]    Script Date: 5/19/2026 3:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTros](
	[VaiTroID] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_VaiTros] PRIMARY KEY CLUSTERED 
(
	[VaiTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260505052426_Data1', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260514104922_AddHinhAnhSanPhamTable', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260514110012_FixSaiLinkHinhAnhSanPham', N'8.0.0')
GO
INSERT [dbo].[Banners] ([BannerID], [TieuDe], [MoTa], [HinhAnhUrl], [LienKetUrl], [ThuTu], [KichHoat]) VALUES (N'BNR-001', N'Áo khoác mùa lạnh 2026', N'Bộ sưu tập áo khoác mới cho mùa lạnh, tập trung vào chất liệu đẹp và tính thực dụng.', N'https://images.pexels.com/photos/6311392/pexels-photo-6311392.jpeg?auto=compress&cs=tinysrgb&w=1600', N'/Home/Products?category=outerwear', 1, 1)
INSERT [dbo].[Banners] ([BannerID], [TieuDe], [MoTa], [HinhAnhUrl], [LienKetUrl], [ThuTu], [KichHoat]) VALUES (N'BNR-002', N'Phối lớp mùa lạnh', N'Len, hoodie và các lớp mặc trong được cập nhật theo tiêu chí phối đồ nhanh và gọn.', N'https://images.pexels.com/photos/7691128/pexels-photo-7691128.jpeg?auto=compress&cs=tinysrgb&w=1600', N'/Home/Products?category=layering', 2, 1)
GO
INSERT [dbo].[chiTietDoiTras] ([ChiTietDoiTraID], [PhieuDoiTraID], [ChiTietSanPhamID], [SoLuongTra], [GiaTriHoanLai], [LyDo]) VALUES (N'18c5f394-9493-471b-8f16-6830c73989d5', N'RMAC7E68B70', N'CT0003', 1, CAST(924000 AS Decimal(18, 0)), 1)
INSERT [dbo].[chiTietDoiTras] ([ChiTietDoiTraID], [PhieuDoiTraID], [ChiTietSanPhamID], [SoLuongTra], [GiaTriHoanLai], [LyDo]) VALUES (N'1ba77f1b-a594-44f9-b197-885cd60e804a', N'RMAA1EDDE69', N'CT0093', 2, CAST(3160000 AS Decimal(18, 0)), 2)
INSERT [dbo].[chiTietDoiTras] ([ChiTietDoiTraID], [PhieuDoiTraID], [ChiTietSanPhamID], [SoLuongTra], [GiaTriHoanLai], [LyDo]) VALUES (N'543e6ef4-e99a-4f65-a164-df65e6a0f794', N'RMAC6E89FC5', N'CT0001', 1, CAST(1290000 AS Decimal(18, 0)), 0)
GO
INSERT [dbo].[ChiTietSanPhams] ([ChiTietSanPhamID], [SoLuongTonKho], [SKU], [GiaNiemYet], [KichCoID], [MauID], [SanPhamID]) VALUES (N'CT0001', 18, N'SP0001-SZM-BLK', CAST(1290000 AS Decimal(18, 0)), N'SZM', N'BLK', N'SP0001')
INSERT [dbo].[ChiTietSanPhams] ([ChiTietSanPhamID], [SoLuongTonKho], [SKU], [GiaNiemYet], [KichCoID], [MauID], [SanPhamID]) VALUES (N'CT0002', 12, N'SP0001-SZL-BLK', CAST(1290000 AS Decimal(18, 0)), N'SZL', N'BLK', N'SP0001')
INSERT [dbo].[ChiTietSanPhams] ([ChiTietSanPhamID], [SoLuongTonKho], [SKU], [GiaNiemYet], [KichCoID], [MauID], [SanPhamID]) VALUES (N'CT0003', 7, N'SP0001-SZX-CRM', CAST(1320000 AS Decimal(18, 0)), N'SZX', N'CRM', N'SP0001')
GO
INSERT [dbo].[ChiTietThanhToans] ([ChiTietThanhToanID], [Ten], [SoTien], [MaThamChieu], [ThoiGianThanhToan], [TrangThai], [HoaDonID], [PhuongThucThanhToanID]) VALUES (N'0ae60de5-3899-4f08-8370-51e27531226f', N'Tiền mặt', CAST(13 AS Decimal(18, 0)), N'', CAST(N'2026-05-19T04:40:15.4132224' AS DateTime2), 1, N'POS83112C22', N'CASH')
INSERT [dbo].[ChiTietThanhToans] ([ChiTietThanhToanID], [Ten], [SoTien], [MaThamChieu], [ThoiGianThanhToan], [TrangThai], [HoaDonID], [PhuongThucThanhToanID]) VALUES (N'44cfe599-7a98-453d-9af4-d2111ee72e25', N'Tiền mặt', CAST(158 AS Decimal(18, 0)), N'', CAST(N'2026-05-19T05:00:56.7553666' AS DateTime2), 1, N'POSB4440B5D', N'CASH')
INSERT [dbo].[ChiTietThanhToans] ([ChiTietThanhToanID], [Ten], [SoTien], [MaThamChieu], [ThoiGianThanhToan], [TrangThai], [HoaDonID], [PhuongThucThanhToanID]) VALUES (N'6421acf1-f9f2-4374-860f-63091b429cf2', N'Chuyển khoản QR', CAST(2006 AS Decimal(18, 0)), N'BANKPOS993368', CAST(N'2026-05-19T07:03:13.5480765' AS DateTime2), 1, N'POS5B37FA5E', N'CASH')
GO
INSERT [dbo].[DanhMucs] ([DanhMucID], [Ten]) VALUES (N'DM001', N'Áo khoác phao')
INSERT [dbo].[DanhMucs] ([DanhMucID], [Ten]) VALUES (N'DM002', N'Áo khoác da')
INSERT [dbo].[DanhMucs] ([DanhMucID], [Ten]) VALUES (N'DM003', N'Áo len và hoodie')
GO
INSERT [dbo].[DiaChis] ([DiaChiID], [TenNguoiNhan], [SoDienThoaiNhan], [TinhThanh], [QuanHuyen], [PhuongXa], [LaMacDinh], [KhachHangID]) VALUES (N'DC_POS_SYSTEM', N'Khách mua tại quầy', N'0000000000', N'Hà Nội', N'Sơn Tây', N'Tại quầy||Tại quầy', 1, N'KH000000')
INSERT [dbo].[DiaChis] ([DiaChiID], [TenNguoiNhan], [SoDienThoaiNhan], [TinhThanh], [QuanHuyen], [PhuongXa], [LaMacDinh], [KhachHangID]) VALUES (N'DC0001', N'Nguyễn Hoài An', N'0912345678', N'TP.HCM', N'Quận 1', N'Bến Thành||22 Nguyễn Trãi', 1, N'KH0001')
INSERT [dbo].[DiaChis] ([DiaChiID], [TenNguoiNhan], [SoDienThoaiNhan], [TinhThanh], [QuanHuyen], [PhuongXa], [LaMacDinh], [KhachHangID]) VALUES (N'DC0002', N'Nguyễn Hoài An', N'0912345678', N'TP.HCM', N'Quận 3', N'Phường Võ Thị Sáu||144 Nam Kỳ Khởi Nghĩa', 0, N'KH0001')
GO
INSERT [dbo].[GioHangs] ([GioHangID], [NgayTao], [TaiKhoanID]) VALUES (N'05904544-9f2e-4d38-8c71-998b925659bc', CAST(N'2026-05-19T02:52:27.3405638' AS DateTime2), N'TK0005')
INSERT [dbo].[GioHangs] ([GioHangID], [NgayTao], [TaiKhoanID]) VALUES (N'30cdbe6f-ae94-4ab7-911f-7459055428ac', CAST(N'2026-05-14T20:07:27.6634973' AS DateTime2), N'TK0001')
INSERT [dbo].[GioHangs] ([GioHangID], [NgayTao], [TaiKhoanID]) VALUES (N'38220d4b-b9a9-4576-94db-682175b9e034', CAST(N'2026-05-19T04:35:24.8346804' AS DateTime2), N'TK_SYSTEM')
GO
INSERT [dbo].[HinhAnhSanPhams] ([HinhAnhID], [Url], [IsMain], [SanPhamID], [MauID]) VALUES (N'03aec4ef-713e-4c21-ab4b-d5d7c50fcea7', N'/images/products/SP0005-GRY.png', 1, N'SP0005', N'GRY')
INSERT [dbo].[HinhAnhSanPhams] ([HinhAnhID], [Url], [IsMain], [SanPhamID], [MauID]) VALUES (N'03df171c-b99c-44db-89f7-02875ad35ada', N'/images/products/SP0023-WHT.png', 1, N'SP0023', N'WHT')
INSERT [dbo].[HinhAnhSanPhams] ([HinhAnhID], [Url], [IsMain], [SanPhamID], [MauID]) VALUES (N'05f3e2d9-5df3-4d75-87ea-5ace69850ff2', N'/images/products/SP0019-BLK.png', 1, N'SP0019', N'BLK')
GO
INSERT [dbo].[HoaDonChiTiets] ([HoaDonChiTietID], [SoLuong], [DonGia], [MucVAT], [TienVAT], [HoaDonID], [ChiTietSanPhamID]) VALUES (N'a1f39d04-5e47-4f38-8cd2-771e018e53b0', 1, CAST(450000 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)), CAST(45000 AS Decimal(18, 0)), N'WEBC714EFAB', N'CT0091')
INSERT [dbo].[HoaDonChiTiets] ([HoaDonChiTietID], [SoLuong], [DonGia], [MucVAT], [TienVAT], [HoaDonID], [ChiTietSanPhamID]) VALUES (N'ba3867e4-7b48-4436-b180-0478d299a8a2', 1, CAST(1490000 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)), CAST(149000 AS Decimal(18, 0)), N'WEB2C71A11B', N'CT0006')
INSERT [dbo].[HoaDonChiTiets] ([HoaDonChiTietID], [SoLuong], [DonGia], [MucVAT], [TienVAT], [HoaDonID], [ChiTietSanPhamID]) VALUES (N'HDCT000001', 1, CAST(1290000 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)), CAST(129000 AS Decimal(18, 0)), N'HD000001', N'CT0001')
GO
INSERT [dbo].[HoaDons] ([HoaDonID], [TongTienVAT], [TongTienGiamGia], [ThanhTien], [LoaiGiaoDich], [NgayTao], [TrangThai], [GhiChu], [KhachHangID], [NhanVienID], [DiaChiID], [KhuyenMaiID]) VALUES (N'HD000001', CAST(129000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(1419000 AS Decimal(18, 0)), 0, CAST(N'2026-05-15T10:30:00.0000000' AS DateTime2), 4, N'Đơn hàng đặt online qua web - Giao giờ hành chính', N'KH0001', N'NV0001', N'DC0001', NULL)
INSERT [dbo].[HoaDons] ([HoaDonID], [TongTienVAT], [TongTienGiamGia], [ThanhTien], [LoaiGiaoDich], [NgayTao], [TrangThai], [GhiChu], [KhachHangID], [NhanVienID], [DiaChiID], [KhuyenMaiID]) VALUES (N'HD000002', CAST(149000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(1639000 AS Decimal(18, 0)), 1, CAST(N'2026-05-16T14:15:00.0000000' AS DateTime2), 2, N'Khách mua trực tiếp tại cửa hàng', N'KH0002', N'NV0001', N'DC0003', NULL)
INSERT [dbo].[HoaDons] ([HoaDonID], [TongTienVAT], [TongTienGiamGia], [ThanhTien], [LoaiGiaoDich], [NgayTao], [TrangThai], [GhiChu], [KhachHangID], [NhanVienID], [DiaChiID], [KhuyenMaiID]) VALUES (N'HD000003', CAST(79000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(869000 AS Decimal(18, 0)), 0, CAST(N'2026-05-16T16:00:00.0000000' AS DateTime2), 3, N'Khách bấm hủy đơn do đổi ý', N'KH0003', N'NV0001', N'DC0005', NULL)
GO
INSERT [dbo].[KhachHangs] ([KhachHangID], [Ten], [Email], [SoDienThoai], [GioiTinh], [DiaChi], [DiemTichLuy], [TaiKhoanID]) VALUES (N'KH000000', N'Khách vãng lai', N'khachle@winterfashion.local', N'0000000000', 2, N'Mua trực tiếp tại quầy', 0, N'TK_POS_SYSTEM')
INSERT [dbo].[KhachHangs] ([KhachHangID], [Ten], [Email], [SoDienThoai], [GioiTinh], [DiaChi], [DiemTichLuy], [TaiKhoanID]) VALUES (N'KH0001', N'Nguyễn Hoài An', N'an.nguyen@wintershop.vn', N'0912345678', 1, N'22 Nguyễn Trãi, Bến Thành, Quận 1, TP.HCM', 0, N'TK0001')
INSERT [dbo].[KhachHangs] ([KhachHangID], [Ten], [Email], [SoDienThoai], [GioiTinh], [DiaChi], [DiemTichLuy], [TaiKhoanID]) VALUES (N'KH0002', N'Trần Quốc Minh', N'minh.tran@wintershop.vn', N'0987654321', 0, N'89 Cầu Giấy, Dịch Vọng, Cầu Giấy, Hà Nội', 0, N'TK0002')
GO
INSERT [dbo].[KhuyenMais] ([KhuyenMaiID], [Ten], [GiaTriToiThieuApDung], [NgayApDung], [NgayKetThuc], [MoTa], [TrangThai], [GiaTriGiam], [GiamToiDa], [LoaiGiamGia], [MaCode], [SoLuongDaDung], [SoLuongToiDa]) VALUES (N'KM001', N'Outerwear Deep Sale', CAST(0 AS Decimal(18, 0)), CAST(N'2026-04-19T00:00:00.0000000' AS DateTime2), CAST(N'2026-07-18T00:00:00.0000000' AS DateTime2), N'Khuyen mai demo cho nhom ao khoac duoc cho phep giam gia.', 1, CAST(30 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)), 1, NULL, 0, 1000)
INSERT [dbo].[KhuyenMais] ([KhuyenMaiID], [Ten], [GiaTriToiThieuApDung], [NgayApDung], [NgayKetThuc], [MoTa], [TrangThai], [GiaTriGiam], [GiamToiDa], [LoaiGiamGia], [MaCode], [SoLuongDaDung], [SoLuongToiDa]) VALUES (N'KM002', N'Heattech Promo', CAST(0 AS Decimal(18, 0)), CAST(N'2026-05-04T00:00:00.0000000' AS DateTime2), CAST(N'2026-07-03T00:00:00.0000000' AS DateTime2), N'Khuyen mai demo cho nhom giu nhiet.', 1, CAST(15 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)), 1, NULL, 0, 500)
GO
INSERT [dbo].[KhuyenMaiSanPhams] ([KhuyenMaiID], [SanPhamID]) VALUES (N'KM001', N'SP0001')
INSERT [dbo].[KhuyenMaiSanPhams] ([KhuyenMaiID], [SanPhamID]) VALUES (N'KM002', N'SP0009')
INSERT [dbo].[KhuyenMaiSanPhams] ([KhuyenMaiID], [SanPhamID]) VALUES (N'KM001', N'SP0010')
GO
INSERT [dbo].[KichCos] ([KichCoID], [Ten], [MoTa]) VALUES (N'SZ2', N'Size XXL', N'Dành cho phom rộng hoặc mặc nhiều lớp.')
INSERT [dbo].[KichCos] ([KichCoID], [Ten], [MoTa]) VALUES (N'SZL', N'Size L', N'Thoải mái cho layering.')
INSERT [dbo].[KichCos] ([KichCoID], [Ten], [MoTa]) VALUES (N'SZM', N'Size M', N'Dáng tiêu chuẩn dễ mặc.')
GO
INSERT [dbo].[Maus] ([MauID], [Ten]) VALUES (N'BLK', N'Đen Onyx')
INSERT [dbo].[Maus] ([MauID], [Ten]) VALUES (N'BRN', N'Nâu Cocoa')
INSERT [dbo].[Maus] ([MauID], [Ten]) VALUES (N'CRM', N'Kem Cashmere')
GO
INSERT [dbo].[NhanViens] ([NhanVienID], [Ten], [SoDienThoai], [GioiTinh], [DiaChi], [NgayNhanViec], [TaiKhoanID]) VALUES (N'NV_DEFAULT', N'Quản trị viên Hệ thống', N'0999999999', 2, N'Hệ thống nội bộ', CAST(N'2026-05-19T04:54:58.0233333' AS DateTime2), N'TK_POS_SYSTEM')
INSERT [dbo].[NhanViens] ([NhanVienID], [Ten], [SoDienThoai], [GioiTinh], [DiaChi], [NgayNhanViec], [TaiKhoanID]) VALUES (N'NV0001', N'Hệ Thống Tự Động', N'0123456789', 0, N'Hà Nội', CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), N'TK_SYSTEM')
GO
INSERT [dbo].[phieuDoiTras] ([PhieuDoiTraID], [HoaDonID], [NgayTao], [TrangThai], [TongTienHoan], [GhiChuAdmin]) VALUES (N'RMA0ACA7C40', N'HDc6028281cd1649a5ac', CAST(N'2026-05-19T01:26:13.8484706' AS DateTime2), 1, CAST(1183000 AS Decimal(18, 0)), N'')
INSERT [dbo].[phieuDoiTras] ([PhieuDoiTraID], [HoaDonID], [NgayTao], [TrangThai], [TongTienHoan], [GhiChuAdmin]) VALUES (N'RMA0E69C47B', N'HD84166e4f74424ff1b3', CAST(N'2026-05-19T02:29:07.2999730' AS DateTime2), 1, CAST(12 AS Decimal(18, 0)), N'')
INSERT [dbo].[phieuDoiTras] ([PhieuDoiTraID], [HoaDonID], [NgayTao], [TrangThai], [TongTienHoan], [GhiChuAdmin]) VALUES (N'RMA88A5995A', N'HDc6028281cd1649a5ac', CAST(N'2026-05-19T02:24:27.3452754' AS DateTime2), 1, CAST(1183000 AS Decimal(18, 0)), N'')
GO
INSERT [dbo].[PhuongThucThanhToans] ([PhuongThucThanhToanID], [Ten], [KieuThanhToan], [HinhURL], [TrangThai]) VALUES (N'CASH', N'Tiền mặt tại quầy', 0, N'', 1)
INSERT [dbo].[PhuongThucThanhToans] ([PhuongThucThanhToanID], [Ten], [KieuThanhToan], [HinhURL], [TrangThai]) VALUES (N'VNPAY', N'Cổng thanh toán VNPay', 1, N'', 1)
GO
INSERT [dbo].[SanPhams] ([SanPhamID], [Ten], [MucVAT], [ChatLieu], [MoTa], [ThuongHieuID], [DanhMucID]) VALUES (N'SP0001', N'Áo Phao Arctic Shield', 10, N'Vải phao chống nước', N'Form dài, giữ nhiệt tốt và cản gió nhẹ cho ngày lạnh sâu.', N'TH001', N'DM001')
INSERT [dbo].[SanPhams] ([SanPhamID], [Ten], [MucVAT], [ChatLieu], [MoTa], [ThuongHieuID], [DanhMucID]) VALUES (N'SP0002', N'Áo Da Sherpa Espresso', 10, N'Da tổng hợp lót lông', N'Dáng gọn, hợp đi làm và phối cùng boots mùa đông.', N'TH002', N'DM002')
INSERT [dbo].[SanPhams] ([SanPhamID], [Ten], [MucVAT], [ChatLieu], [MoTa], [ThuongHieuID], [DanhMucID]) VALUES (N'SP0003', N'Sweater Alpine Soft Knit', 10, N'Len dệt mềm', N'Mẫu sweater mặc một lớp hoặc layering đều gọn.', N'TH003', N'DM003')
GO
INSERT [dbo].[TaiKhoans] ([TaiKhoanID], [Email], [MatKhau], [TrangThai], [VaiTroID]) VALUES (N'TK_POS_SYSTEM', N'pos_system@winterfashion.local', N'PosSystem123@', N'Hoạt động', N'R03')
INSERT [dbo].[TaiKhoans] ([TaiKhoanID], [Email], [MatKhau], [TrangThai], [VaiTroID]) VALUES (N'TK_SYSTEM', N'system@wintershop.vn', N'system123', N'Hoạt động', N'R02')
INSERT [dbo].[TaiKhoans] ([TaiKhoanID], [Email], [MatKhau], [TrangThai], [VaiTroID]) VALUES (N'TK0001', N'an.nguyen@wintershop.vn', N'123456', N'Hoạt động', N'R03')
GO
INSERT [dbo].[ThuongHieus] ([ThuongHieuID], [Ten], [LogoURL], [MoTa]) VALUES (N'TH001', N'Arctic Wear', N'', N'Thương hiệu tập trung vào áo khoác giữ nhiệt và đồ ngoài trời.')
INSERT [dbo].[ThuongHieus] ([ThuongHieuID], [Ten], [LogoURL], [MoTa]) VALUES (N'TH002', N'Urban Style', N'', N'Phong cách đường phố gọn gàng, dễ phối hằng ngày.')
INSERT [dbo].[ThuongHieus] ([ThuongHieuID], [Ten], [LogoURL], [MoTa]) VALUES (N'TH003', N'North Cabin', N'', N'Các thiết kế len, nỉ và layering cho thời tiết lạnh.')
GO
INSERT [dbo].[VaiTros] ([VaiTroID], [Ten]) VALUES (N'R01', N'Quản trị viên')
INSERT [dbo].[VaiTros] ([VaiTroID], [Ten]) VALUES (N'R02', N'Nhân viên')
INSERT [dbo].[VaiTros] ([VaiTroID], [Ten]) VALUES (N'R03', N'Khách hàng')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_chiTietDoiTras_ChiTietSanPhamID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_chiTietDoiTras_ChiTietSanPhamID] ON [dbo].[chiTietDoiTras]
(
	[ChiTietSanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_chiTietDoiTras_PhieuDoiTraID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_chiTietDoiTras_PhieuDoiTraID] ON [dbo].[chiTietDoiTras]
(
	[PhieuDoiTraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietGioHangs_ChiTietSanPhamID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGioHangs_ChiTietSanPhamID] ON [dbo].[ChiTietGioHangs]
(
	[ChiTietSanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietGioHangs_GioHangID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGioHangs_GioHangID] ON [dbo].[ChiTietGioHangs]
(
	[GioHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietSanPhams_KichCoID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietSanPhams_KichCoID] ON [dbo].[ChiTietSanPhams]
(
	[KichCoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietSanPhams_MauID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietSanPhams_MauID] ON [dbo].[ChiTietSanPhams]
(
	[MauID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietSanPhams_SanPhamID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietSanPhams_SanPhamID] ON [dbo].[ChiTietSanPhams]
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietThanhToans_HoaDonID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietThanhToans_HoaDonID] ON [dbo].[ChiTietThanhToans]
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietThanhToans_PhuongThucThanhToanID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietThanhToans_PhuongThucThanhToanID] ON [dbo].[ChiTietThanhToans]
(
	[PhuongThucThanhToanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DiaChis_KhachHangID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DiaChis_KhachHangID] ON [dbo].[DiaChis]
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GioHangs_TaiKhoanID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GioHangs_TaiKhoanID] ON [dbo].[GioHangs]
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HinhAnhSanPhams_MauID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_HinhAnhSanPhams_MauID] ON [dbo].[HinhAnhSanPhams]
(
	[MauID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HinhAnhSanPhams_SanPhamID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_HinhAnhSanPhams_SanPhamID] ON [dbo].[HinhAnhSanPhams]
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDonChiTiets_ChiTietSanPhamID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDonChiTiets_ChiTietSanPhamID] ON [dbo].[HoaDonChiTiets]
(
	[ChiTietSanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDonChiTiets_HoaDonID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDonChiTiets_HoaDonID] ON [dbo].[HoaDonChiTiets]
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_DiaChiID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_DiaChiID] ON [dbo].[HoaDons]
(
	[DiaChiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_KhachHangID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_KhachHangID] ON [dbo].[HoaDons]
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_KhuyenMaiID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_KhuyenMaiID] ON [dbo].[HoaDons]
(
	[KhuyenMaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_NhanVienID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_NhanVienID] ON [dbo].[HoaDons]
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KhachHangs_TaiKhoanID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhachHangs_TaiKhoanID] ON [dbo].[KhachHangs]
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KhuyenMaiSanPhams_SanPhamID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_KhuyenMaiSanPhams_SanPhamID] ON [dbo].[KhuyenMaiSanPhams]
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhanViens_TaiKhoanID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NhanViens_TaiKhoanID] ON [dbo].[NhanViens]
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_phieuDoiTras_HoaDonID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_phieuDoiTras_HoaDonID] ON [dbo].[phieuDoiTras]
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SanPhams_DanhMucID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_DanhMucID] ON [dbo].[SanPhams]
(
	[DanhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SanPhams_ThuongHieuID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_ThuongHieuID] ON [dbo].[SanPhams]
(
	[ThuongHieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaiKhoans_VaiTroID]    Script Date: 5/19/2026 3:14:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaiKhoans_VaiTroID] ON [dbo].[TaiKhoans]
(
	[VaiTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhuyenMais] ADD  DEFAULT ((0.0)) FOR [GiaTriGiam]
GO
ALTER TABLE [dbo].[KhuyenMais] ADD  DEFAULT ((0.0)) FOR [GiamToiDa]
GO
ALTER TABLE [dbo].[KhuyenMais] ADD  DEFAULT ((0)) FOR [LoaiGiamGia]
GO
ALTER TABLE [dbo].[KhuyenMais] ADD  DEFAULT ((0)) FOR [SoLuongDaDung]
GO
ALTER TABLE [dbo].[KhuyenMais] ADD  DEFAULT ((0)) FOR [SoLuongToiDa]
GO
ALTER TABLE [dbo].[chiTietDoiTras]  WITH CHECK ADD  CONSTRAINT [FK_chiTietDoiTras_ChiTietSanPhams_ChiTietSanPhamID] FOREIGN KEY([ChiTietSanPhamID])
REFERENCES [dbo].[ChiTietSanPhams] ([ChiTietSanPhamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chiTietDoiTras] CHECK CONSTRAINT [FK_chiTietDoiTras_ChiTietSanPhams_ChiTietSanPhamID]
GO
ALTER TABLE [dbo].[chiTietDoiTras]  WITH CHECK ADD  CONSTRAINT [FK_chiTietDoiTras_phieuDoiTras_PhieuDoiTraID] FOREIGN KEY([PhieuDoiTraID])
REFERENCES [dbo].[phieuDoiTras] ([PhieuDoiTraID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chiTietDoiTras] CHECK CONSTRAINT [FK_chiTietDoiTras_phieuDoiTras_PhieuDoiTraID]
GO
ALTER TABLE [dbo].[ChiTietGioHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHangs_ChiTietSanPhams_ChiTietSanPhamID] FOREIGN KEY([ChiTietSanPhamID])
REFERENCES [dbo].[ChiTietSanPhams] ([ChiTietSanPhamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHangs] CHECK CONSTRAINT [FK_ChiTietGioHangs_ChiTietSanPhams_ChiTietSanPhamID]
GO
ALTER TABLE [dbo].[ChiTietGioHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHangs_GioHangs_GioHangID] FOREIGN KEY([GioHangID])
REFERENCES [dbo].[GioHangs] ([GioHangID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHangs] CHECK CONSTRAINT [FK_ChiTietGioHangs_GioHangs_GioHangID]
GO
ALTER TABLE [dbo].[ChiTietSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPhams_KichCos_KichCoID] FOREIGN KEY([KichCoID])
REFERENCES [dbo].[KichCos] ([KichCoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPhams] CHECK CONSTRAINT [FK_ChiTietSanPhams_KichCos_KichCoID]
GO
ALTER TABLE [dbo].[ChiTietSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPhams_Maus_MauID] FOREIGN KEY([MauID])
REFERENCES [dbo].[Maus] ([MauID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPhams] CHECK CONSTRAINT [FK_ChiTietSanPhams_Maus_MauID]
GO
ALTER TABLE [dbo].[ChiTietSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPhams_SanPhams_SanPhamID] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPhams] ([SanPhamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPhams] CHECK CONSTRAINT [FK_ChiTietSanPhams_SanPhams_SanPhamID]
GO
ALTER TABLE [dbo].[ChiTietThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThanhToans_HoaDons_HoaDonID] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDons] ([HoaDonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietThanhToans] CHECK CONSTRAINT [FK_ChiTietThanhToans_HoaDons_HoaDonID]
GO
ALTER TABLE [dbo].[ChiTietThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThanhToans_PhuongThucThanhToans_PhuongThucThanhToanID] FOREIGN KEY([PhuongThucThanhToanID])
REFERENCES [dbo].[PhuongThucThanhToans] ([PhuongThucThanhToanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietThanhToans] CHECK CONSTRAINT [FK_ChiTietThanhToans_PhuongThucThanhToans_PhuongThucThanhToanID]
GO
ALTER TABLE [dbo].[DiaChis]  WITH CHECK ADD  CONSTRAINT [FK_DiaChis_KhachHangs_KhachHangID] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHangs] ([KhachHangID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiaChis] CHECK CONSTRAINT [FK_DiaChis_KhachHangs_KhachHangID]
GO
ALTER TABLE [dbo].[GioHangs]  WITH CHECK ADD  CONSTRAINT [FK_GioHangs_TaiKhoans_TaiKhoanID] FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoans] ([TaiKhoanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangs] CHECK CONSTRAINT [FK_GioHangs_TaiKhoans_TaiKhoanID]
GO
ALTER TABLE [dbo].[HinhAnhSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhSanPhams_Maus_MauID] FOREIGN KEY([MauID])
REFERENCES [dbo].[Maus] ([MauID])
GO
ALTER TABLE [dbo].[HinhAnhSanPhams] CHECK CONSTRAINT [FK_HinhAnhSanPhams_Maus_MauID]
GO
ALTER TABLE [dbo].[HinhAnhSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhSanPhams_SanPhams_SanPhamID] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPhams] ([SanPhamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnhSanPhams] CHECK CONSTRAINT [FK_HinhAnhSanPhams_SanPhams_SanPhamID]
GO
ALTER TABLE [dbo].[HoaDonChiTiets]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiets_ChiTietSanPhams_ChiTietSanPhamID] FOREIGN KEY([ChiTietSanPhamID])
REFERENCES [dbo].[ChiTietSanPhams] ([ChiTietSanPhamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonChiTiets] CHECK CONSTRAINT [FK_HoaDonChiTiets_ChiTietSanPhams_ChiTietSanPhamID]
GO
ALTER TABLE [dbo].[HoaDonChiTiets]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiets_HoaDons_HoaDonID] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDons] ([HoaDonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonChiTiets] CHECK CONSTRAINT [FK_HoaDonChiTiets_HoaDons_HoaDonID]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_DiaChis_DiaChiID] FOREIGN KEY([DiaChiID])
REFERENCES [dbo].[DiaChis] ([DiaChiID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_DiaChis_DiaChiID]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_KhachHangs_KhachHangID] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHangs] ([KhachHangID])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_KhachHangs_KhachHangID]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_KhuyenMais_KhuyenMaiID] FOREIGN KEY([KhuyenMaiID])
REFERENCES [dbo].[KhuyenMais] ([KhuyenMaiID])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_KhuyenMais_KhuyenMaiID]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_NhanViens_NhanVienID] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanViens] ([NhanVienID])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_NhanViens_NhanVienID]
GO
ALTER TABLE [dbo].[KhachHangs]  WITH CHECK ADD  CONSTRAINT [FK_KhachHangs_TaiKhoans_TaiKhoanID] FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoans] ([TaiKhoanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHangs] CHECK CONSTRAINT [FK_KhachHangs_TaiKhoans_TaiKhoanID]
GO
ALTER TABLE [dbo].[KhuyenMaiSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMaiSanPhams_KhuyenMais_KhuyenMaiID] FOREIGN KEY([KhuyenMaiID])
REFERENCES [dbo].[KhuyenMais] ([KhuyenMaiID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMaiSanPhams] CHECK CONSTRAINT [FK_KhuyenMaiSanPhams_KhuyenMais_KhuyenMaiID]
GO
ALTER TABLE [dbo].[KhuyenMaiSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMaiSanPhams_SanPhams_SanPhamID] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPhams] ([SanPhamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMaiSanPhams] CHECK CONSTRAINT [FK_KhuyenMaiSanPhams_SanPhams_SanPhamID]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NhanViens_TaiKhoans_TaiKhoanID] FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoans] ([TaiKhoanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NhanViens_TaiKhoans_TaiKhoanID]
GO
ALTER TABLE [dbo].[phieuDoiTras]  WITH CHECK ADD  CONSTRAINT [FK_phieuDoiTras_HoaDons_HoaDonID] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDons] ([HoaDonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phieuDoiTras] CHECK CONSTRAINT [FK_phieuDoiTras_HoaDons_HoaDonID]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucID] FOREIGN KEY([DanhMucID])
REFERENCES [dbo].[DanhMucs] ([DanhMucID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucID]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_ThuongHieus_ThuongHieuID] FOREIGN KEY([ThuongHieuID])
REFERENCES [dbo].[ThuongHieus] ([ThuongHieuID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_ThuongHieus_ThuongHieuID]
GO
ALTER TABLE [dbo].[TaiKhoans]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoans_VaiTros_VaiTroID] FOREIGN KEY([VaiTroID])
REFERENCES [dbo].[VaiTros] ([VaiTroID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoans] CHECK CONSTRAINT [FK_TaiKhoans_VaiTros_VaiTroID]
GO
USE [master]
GO
